body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  .confirmation-container {
    background: linear-gradient(to right, #002244 0%, #30445f 50%, #5D8AA8 100%);
    padding: 30px;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .booking-details {
    text-align: left;
    margin-top: 20px;
  }
  
  .booking-details p {
    margin: 8px 0;
  }
  
  .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #002244;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #646f79;
    color: black;
  }
  